main {
  width: 100%;
  margin-top: 30px;
}

.block-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 20px;
  justify-content: space-between;
  height: auto;
  margin: 4vw;
}

.block {
  min-width: max(150px, 30%);
  /* max-width: 400px; */
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  height: auto;
}
